.skillsetcontainer{
    padding: 1rem 1rem;
    margin: auto;
    max-width: 600px;
}
.skillset{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.skillsheading{
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    padding-bottom: 1rem;
}
.imgd{
    height: 80px;
    width: 80px;
    padding: 4px;
}

@media screen and (max-width: 640px) {
    .skillsetcontainer{
        padding: 2rem 1rem;
        margin: auto;
        max-width: 300px;
    }
    .skillset{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        position: relative;
        align-items: center;
        text-align: center;
    }
}


